.container {
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  background-image: url("/weather-background.png");

  display: flex;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.925rem;
}

.logo {
  width: 3rem;
  height: 3rem;
}

.title {
  color: white;
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0;
}

.description {
  color: white;
  margin: -2px 0 0 0;
  font-weight: 600;
}