.container { 
  width: 632px;
  flex-shrink: 0;
  background-color: #F3F4F6;
  padding: 1rem 1rem;
  margin-right: 1.75rem;
  border-radius: 1.025rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}

.text { 
  white-space: pre-wrap;
  line-height: 1.6;
  word-break: keep-all;
  overflow-wrap: break-word;
  text-decoration: underline;
}