.container {
  background-image: url("https://cjaewon.github.io/penielgo-now/clock-background.jpeg");
  background-position: -2rem;

  width: 632px;
  flex-shrink: 0;
  background-color: #F3F4F6;
  padding: 1rem 1rem;
  margin-right: 1.75rem;
  border-radius: 1.025rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text { 
  font-family: 'Black Han Sans', sans-serif;
  font-weight: 500;
  font-size: 2.875rem;
  color: black;
}